@import "reset.css";
@import "variables.css";
@import "Components/status-bar.css";
@import "Components/navigation-bar.css";
@import "Screens/login-form.css";
@import "Components/screen-header.css";
@import "Screens/friends.css"; 
@import "Components/user-component.css";
@import "Components/badge.css";
@import "Screens/find.css";
@import "Screens/more.css";
@import "Components/icon-row.css";
@import "Components/alt-screen-header.css";
@import "Screens/settings.css";
@import "Screens/chat.css";
@import "Components/no-mobile.css";

body {
    color: #2e363e;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}