.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;

}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;

}


.red-dot {
    background-color: tomato;
    height: 6px;
    width: 6px;    
    border-radius: 5px;
    position: relative;
    left: 105px;
    top: -25px;
    
}

.red-dot-more {
      background-color: tomato;
    height: 6px;
    width: 6px;    
    border-radius: 5px;
    position: relative;
    left: 160px;
    top: -25px;
}


@keyframes rotateCog {
    from {
        transform: none;
    }

    to {
    transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateCog 2s linear infinite;
}